node_modules
.next
.turbo
.wrangler
.open-next
.tmp
dist
out
coverage

.env
.env.local
.env.*.local
*.pem
*.key
.dev.vars

.DS_Store
*.log
.vscode
.idea

playwright-report
test-results
.vercel

# fallow cache
.fallow/
cache.bin
